<div class="container margen">
    <div class="row">
      <!-- Verifica que haya productos antes de mostrar el listado -->
       <div *ngIf="productos.length > 0; else noProductos">
        <div *ngFor="let producto of productos" class="col-md-4 mb-4">
          <div class="card h-100">
            <!-- Imagen del producto (asegúrate de que el objeto producto tenga la propiedad `imagen`) -->
             <!-- <img [src]="producto.image" class="card-img-top" alt="imagen de {{ producto.product }}">
   -->      
            <img *ngIf="producto.image !='data:image/png;base64,'; else noImage" [src]="producto.image" class="card-img-top" alt="imagen de {{ producto.product }}">
            <ng-template #noImage>
                <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" class="card-img-top" >
              </ng-template>
            <!-- Información del producto -->
            <div class="card-body">
              <h5 class="card-title">{{ producto.product }}</h5>
              <!-- <p class="card-text">{{ producto.descripcion }}</p> -->
              <p class="card-text"><strong>Precio:</strong> {{producto.price}}</p>
            </div>
  
            <!-- Botón de acción, si se necesita -->
            <div class="card-footer">
              <!-- <span class="btn-return" ></span> -->
              <a (click)="redirect(producto.gtin)"class="btn btn-primary">Ver detalles</a>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Mensaje cuando no hay productos disponibles -->
      <ng-template #noProductos>
        <p>No hay productos disponibles en esta categoría.</p>
      </ng-template>
    </div>
  </div>
  