<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand btn " (click)="redirect()">Tienda en linea</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            @for(item of navItems; track item) {
                <app-nav-item [item]="item">
                </app-nav-item>
            }
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categorías</a>
              <div class="dropdown-menu nav-dropdown-menu">
                @for(category of categories; track category.category_id) {
                  <!-- <a class="dropdown-item nav-dropdown-item" routerLink="#">{{ category.category }}</a> -->
                  <a class="dropdown-item nav-dropdown-item" [routerLink]="['product/category', category.category_id]">
                    {{ category.category }}
                  </a>
                }
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>