<!-- Hernández Rosas Luis Ernesto - 318130288  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles.css" />
   
    <title>Categorias</title>
</head>
<body>
    <!-- navbar  -->
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid navbar-content">
          <a class="navbar-brand" href="#">Menu</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="#">Home
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-sm-2" type="search" placeholder="Search">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>


      <!-- body content  -->  
    <div class="body-content">
        <div class="card"> 
            <div class="card-header">
                <h1>Categorías</h1>
            </div>
            <div class="card-body">
                <table class="table table-hover table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Id_categoria</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Etiqueta</th>
                        <th scope="col">Estado</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-light">
                        <th scope="row">1</th>
                        <td>Criptografía y seguridad</td>
                        <td>Decifra el texto de la clase pasada</td>
                        <td>Sin terminar</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">2</th>
                        <td>Analisis de Algoritmos</td>
                        <td>Tarea 1 - Complejidad</td>
                        <td> Finalizada</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">3</th>
                        <td>Animación</td>
                        <td>Crea el guión de un corto animado</td>
                        <td>Sin terminar</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">4</th>
                        <td>Ingles VI</td>
                        <td>Realizar los quizzes</td>
                        <td>Finalizada</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">5</th>
                        <td>Desarrollo Web Front-end</td>
                        <td>Practica 3</td>
                        <td>Finalizada</td>
                      </tr>
                      
                    </tbody>
                  </table>

            </div>
            <div class="card-footer"></div>
        </div>
        <small>26 de agosto de 2024 - 01:31:00 pm</small>
    </div>


</body>
</html>