<div class="card marginT">
    <div class="card-header">
        <div class="row">
            <div class="col-md">
                <span class="btn-return" (click)="redirect(product.category_id)">
                    <i class="ph ph-arrow-circle-left icon-text-button"></i>
                    Regresar
                </span>
            </div> 
            <div class="col-md">
                <!-- <span class="btn edit-product" (click)="updateProduct()"> -->
                    <!-- (click)="updateProduct()" -->
                    <!-- <i class="ph ph-note-pencil icon-text-button"></i>
                    Editar producto
                </span> -->
            </div>
        </div>
    </div>
    <br>
    
                <!-- product data  -->
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div *ngIf="productImgs.length > 1" id="carouselExampleIndicators" class="carousel slide"
                data-bs-ride="true">
                <div class="carousel-indicators">
                    <button *ngFor="let item of productImgs; let i = index" type="button" class="indicator"
                        data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="i"
                        [class.active]="i === 0" [attr.aria-current]="i === 0"
                        [attr.aria-label]="'Slide ' + i"></button>
                </div>
                <div class="carousel-inner">
                    <div *ngFor="let prod of productImgs; let i = index" class="carousel-item"
                        [class.active]="i === 0">
                        <!-- image  -->                                                                                                
                        <div class="card-body-customer text-center">
                            <img src="{{ prod.image !== '' ? prod.image : 'assets/no-product-image.png'}}"
                                class="d-block w-100 customer-image" alt="...">
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div *ngIf="productImgs.length <= 1" id="carouselExampleIndicators" class="carousel slide"
                data-ride="carousel">                        
                <div class="carousel-inner">                            
                    <div *ngIf="productImgs.length == 0" class="carousel-item active">                                                                
                        <img src="/assets/no-product-image.png" alt="No product image available">
                    </div>
                    <div *ngFor="let prod of productImgs" class="carousel-item active">
                        <img src="{{ prod.image !== '' ? prod.image : '/assets/no-product-image.png'}}" class="d-block w-100" alt="...">                                                                     
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8 ">
        <div class="card">
            <div class="card-body-product">

                <!-- product -->

                <div class="product-title">
                    <th class="tamanioF">
                        {{ product.product }}
                    </th>
                    
                </div>

                <table class="table">
                    <tbody>

                        <!-- gtin -->
                        <tr>
                            <th class="col-md-4">Código del producto</th>
                            <td>{{ product.gtin }}</td>
                        </tr>

                        <!-- description -->
                        <tr>
                            <th class="col-md-4">Descripción</th>
                            <td>{{ product.description }}</td>
                        </tr>

                        <!-- price -->
                        <tr>
                            <th class="col-md-4">Precio</th>
                            <td>${{ product.price }}</td>
                        </tr>

                        <!-- stock -->
                        <tr>
                            <th class="col-md-4">Stock</th>
                            <td>{{ product.stock }}</td>
                        </tr>

                        <!-- category_id -->
                        <tr>
                            <th class="col-md-4">Categoría</th>
                            <td>{{ product.category }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="cart-button">
            <button class="quantity-btn" (click)="decreaseQuantity()">-</button>
            <span>{{ quantity }}</span>
            <button class="quantity-btn" (click)="increaseQuantity()">+</button>
            <button class="add-to-cart">Añadir al carrito</button>
          </div>
          
         

    </div>


</div>

</div> 


